MOCK_MODE=true
STREAM_FPS=10
AI_FPS=5
STREAM_QUALITY=50
AI_QUALITY=70
STREAM_WIDTH=640
STREAM_HEIGHT=480
AI_WIDTH=320
AI_HEIGHT=240
AI_SERVER_URL=http://AI서버IP:8000
SPRING_URL=http://AWS서버IP:8080
USE_NGROK=true
PORT=5001